body {
    font-family: 'Courier New', monospace;
  }
  code {
    display: block;
    white-space: pre-wrap;
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
    border-radius: 5px;
  }
  .keyword {
    color: rgb(255, 94, 0);
  }
  .comment {
    color: #008000;
  }
  .string {
    color: rgb(65, 43, 3);
  }
  .variable {
    color: blue;
  }
  .number {
    color: #09885a;
  }